<form role="form" method="post" action="/login">
    <div class="form-group mb-3">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
            </div>
            <input class="form-control form-control-alternative" placeholder="Email"
                   type="email" name="email" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
            </div>
            <input class="form-control" placeholder="password"
                   type="password"
                   name="password">
        </div>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary btn-block my-4" value="LogIn">
    </div>
</form>